<%= form_for [ @room, @booking ] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , :required => true %>
  </div>

  <div class="field">
    <%= form.label :days %>
    <%= form.number_field :days , :required => true %>
  </div>

  <div class="field">
    <%= form.label :occupants %>
    <%= form.number_field :occupants, :required => true  %>
  </div>

  <div class="field">
    <%= form.label :food %>
    <%= form.check_box :food %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.select(:room_id, @room_options) %>
  </div>
  

  <div class="actions">
    <%= form.submit "Book", class: "button is-light" %>
    <%= link_to "Back", room_path(@room.id), class: "button is-light" %>
  </div>
  <hr>
<% end %>
