<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
      <ul>
        <% user.errors.each do |error| %>
          <li class="has-text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :required => true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, :required => true %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, :required => true %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, :required => true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, :required => true %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_no, :required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
