<h1>Rooms available:</h1>

<ul id = "rooms">
  <% @rooms.each do |room| %>
    <li>
      <%= link_to "Room: #{room.room_no} ", room_path(room) %>
      <br />
      <% if room.image.exists? %>  
        <%= link_to (image_tag(room.image_file_name, size: '200x200')), room_path(room) %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Edit", edit_room_path(room), class: "has-text-success" %>
        <%= link_to "Delete", room_path(room) ,class: "has-text-danger", method: :delete, data: {confirm: "Do you really wanna delete the room?"} %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if logged_in? %>
  <%= link_to "Create new room", "rooms/new" , class: "has-text-success"%>
<% end %>
