    <nav class="navbar is-dark has-text-primary-dark">
      <div class="navbar-brand">
          <%= link_to (image_tag("logo.png", alt: "Pear Blossom", size: "64x64")), root_path %>

      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Home", root_path, class: "navbar-item" %>
          <%= link_to "Rooms", rooms_path, class: "navbar-item" %>
          <%= link_to "Gallery", gallery_index_path, class: "navbar-item" %>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <%= link_to "About", about_index_path, class: "navbar-item" %>
              <%#= link_to "Contact", "contact/index", class: "navbar-item" %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% unless logged_in? %>
                <div class="button is-primary">
                  <%= link_to "<strong>Sign up</strong>".html_safe, "users/new" %>
                </div>
              <% end %>
              
                <% if logged_in? %>
                  <% if user.admin? %>
                    <div class="button is-primary">
                      <%= link_to "<strong>Admin Panel</strong>".html_safe, "/admin" %>
                    </div>
                  <% end %>  

                <div class="button is-primary">
                    <%= link_to "<strong>Logout</strong>".html_safe, logout_path %>
                </div>
                <% else %>
                <div class="button is-primary">
                  <%= link_to "<strong>Login</strong>".html_safe, login_path %>
                </div>
                <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </nav>